body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header, section, main, footer {
    width: 100%;
}

nav {
    height: 102px;
    background-color: #F2E9D8;
    display: flex;
    justify-content: space-around;
}
.nav-btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.nav-btn-group > p {
    font-weight: 400;
}
.main-logo {
    scale: 60%;
}

.top-download-btn {
    color: white;
    background-color: #D97652;
    border: none;
    border-radius: 40px;
    width: 140px;
    height: 50px;
}

.main-img {
    /*height: 900px;*/
    background-color: #F2E9D8;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.main-img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.main-img-text > .title {
    font-size: 48px;
}

.box-cat-text {
    font-size: 1.2rem;
    font-weight: 400;
}
.download-btn {
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    color: white;
    width: 140px;
    height: 50px;
}
.box-cat-img {

}

.cat-bed {
    display: flex;
    justify-content: center;
}

.cat-bed-img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    margin: 80px 110px 70px 110px;
}

.cat-bed-title {
    width: 510px;
    height: 135px;
    font-size: 36px;
    margin-top: 172px;
    margin-right: 320px;
    margin-bottom: 30px;
}

.cat-bed-text {
    width: 510px;
    height: 40px;
}
.orange-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title-for-orange-dummy {
    color: #D97652;
    font-size: 45px;
    text-align: center; /* text 중앙 정렬 */
}

.text-for-orange-dummy {
    font-size: 1.5rem;
    text-align: center;
}

.img-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    gap: 60px;
}
.img-wrapper > article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px
}
.img-wrapper > article > img {
    border-radius: 30px;
}

/*css에서 못읽어와서 html에서 style 사용*/

.show-more-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-more-btn > p {
    font-size: 24px;
}

.show-more-btn > button {
    width: 143px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    border: none;
    color: white;
}
hr {
    color: #C4C4C4;
    width: 80%;
    margin-top: 100px;
}
/* 모달 파트 */
dialog {
    border: 0;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(82, 77, 144, 0.1), 0px 2px 2px 0px rgba(82, 77, 144, 0.08);
    background-image: url("../image/modal_base_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    width: 600px;
    height: 400px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.modal-cat {
    scale: 60%;
    display: flex;
    justify-content: center;
}

.modal > .h2-text {
    color: #D97652;
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
}

.modal > .description {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#ok-btn {
    margin-top: 25px;
}

#ok-btn > button {
    background: #D97652;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    width: 183px;
    height: 50px;
    border: 0;
    border-radius: 40px;
}


.map-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    align-items: flex-start;
    margin-top: 3%;
    justify-content: space-around;
}
.map-wrapper > .location {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}
.map-wrapper > .location-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.kakaomap {
    width: 1278px;
    height: 520px;
}

.subscribe-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    background-color: #263140;
    border-radius: 30px;
}
.subscribe-wrapper > .subscribe-text {
    display: flex;
    color: white;
    flex-direction: column;
}
.subscribe-wrapper > .email-subscribe {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hodu-logo {

}
.sns-logo {
    float: left;
}